body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #161616;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
}
